.footer {
  background:white;
  padding: 15px 0;
  color: black;
}

/* Footer layout */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
}

/* Text */
.footer p,
.footer h4 {
  margin: 0;
   color: #555555;
}

.logo-img{
  width: 150px;
}
/* Mobile */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}